.card-custom {
    margin: 1% 20%;
    background-color: #333333;
}

.label-text {
    color: black;
}

.button-link {
    background-color: deepskyblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn-animated {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.image {
    position: relative;
    margin-top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    width: 80%;

    transition: all 1s;
    cursor: pointer;
}

.btn-effect{
    color: blue;
}

.card-body{
    padding: 0;
}